body{
    margin: 5% auto!important;
    max-width: 90%!important;
    
}

body h3{
    color: #000!important;
    font-size: 40px;
    text-transform: uppercase;
}

body h3:nth-child(2){
    color: red!important;
}

.warning{
    color: red!important;
}

.alert-secondary{
    background-color: #D6EAF8!important;
    text-align: center;
}

.btn{
    margin: 3% auto;
    padding: 1% 15% !important;
    background-color: #D6EAF8!important;
    color: #0000007c!important;
    font-size:1.6em!important;
}

.btn:hover{
    box-shadow: 0 0 10px #73c0f77c!important;
}